.conteiner {
    display: flex;
    justify-content: center;
    justify-content: space-between;

}



.esq-pnl {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 20vw;

}

.btn-topo {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
}

.btn-secundarios {
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding-left: 87px;
}

.btn-secundarios:hover{
    background-color: #333;
    color: aliceblue;
}

.topo p {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 30px;
    margin-left: 83px;
}


.topo img {
    margin-right: 15px;

}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 70%;
    overflow:auto;

}


/* inferios */

.bxo {
    margin-bottom: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

}

.bxo p {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 30px;
    margin-left: 83px;
}

.bxo img {
    margin-right: 15px;
}


/* main */

.chat-main {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 100vh;

}

.img-main {

    margin-top: 266px;
}

.txt-main {

    display: flex;

}


.txt-items {
    margin: 85px;
}

.txt-items h1 {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600px;
    line-height: 24px;
    text-align: center;
}

.txt-items img {

    width: 40px;
    height: 40px;
}

.txt-items p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-size: 14px;
    width: 287px;
    height: 48px;
    border-radius: 8px;
    margin-top: 25px;
    font-family: 20px;

}



input {
    background-color: #F7F9FB;
    height: 56px;
    width: 760px;
    padding: 16, 20, 16, 20;
    margin-bottom: 35px;
    border-radius: 8px;

}
.chat-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 80vw;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 90vh;
    overflow: auto;

}

.chat-header {

    margin-bottom: 20px;

}

.chat-messages {

    width: 100%;

}

.chat-container .message-item {

    background-color: #ccc;
    border-radius: 12px 12px 0 12px;
    padding: 20px;
    width: 300px;
    margin-left: auto;

}

.chat-container .message-item.chatbot {

    background-color: #ccc;
    border-radius: 12px 12px 12px 0px;
    padding: 20px;
    width: 300px;
    margin-left: unset;
    color: white;
    background: #000;

}